@model IEnumerable<StudentTesting.Models.Teachertbl>

@{
    ViewData["Title"] = "Index";
    Layout = "Teacher_layout";
}


<h4  style="text-align:center">Teacher details</h4>


<table class="table" style="color:black;text-align:center;font-size:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            
            <td>
                <a class = "btn btn-primary" asp-action="Edit" asp-route-id="@item.FacultyId">Edit</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
